<launch>
    <!--tf不能忘-->
    <include file="$(find tgr_arm_description)/launch/tgr_arm_description.launch"/>
    
    <!--硬件嵌入-->
    <include file="$(find tgr_arm_driver)/launch/tgr_arm_hardware.launch"/>
    
    <!--moveit配置-->
    <include file="$(find tgr_arm_driver)/launch/load_config.launch"/>

</launch>
